
body {
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #545454;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 0.9em;
    color: #444;
    text-align: justify;
    margin-bottom: 15px;
}

.timer-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.timer-box {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    min-width: 70px;
    text-align: center;
}

.button-container {
    margin: 15px 0;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.disclaimer {
    font-size: 0.8em;
    color: #666;
    margin-top: 20px;
}
